@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --dur: 5s;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

body {
  background: #c28522;

  background: #c1a77c;
  background-color: tan;
  background: #d2b48c;
  background: #c0a27d;
  background: #cbaf83;
  background: #c4a887;
  background: #c4a887;
  background: #c3a786;
  box-shadow: inset 0px 0px 300px 25px rgba(0, 0, 0, 0.2);
}

body > *:not(.wrapper) {
  opacity: 0;
  transition: opacity 1s;
}

body.loaded > *:not(.wrapper) {
  opacity: 1;
}

body:not(.loaded) > *:not(.wrapper) {
  opacity: 0 !important;
  visibility: hidden !important;
}

body.loaded > .wrapper {
  opacity: 0;
}

body > canvas {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100lvh;
}

body img {
  display: none;
}

body #fps {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 14px;
}

.shape_background {
  transform-origin: center;
  width: 80px;
  height: 80px;
  background: #fff;
  position: absolute;
}

.shape2 {
  position: relative;
}

.shape2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  border: 2px solid black;
  /* Adjust the width and color as needed */
  background-color: transparent;
  z-index: 100000;
  /* Make sure it's above the background */
}

.wrapper {
  transform-style: preserve-3d;
  transform: perspective(800px) scale(1.2) rotateZ(1deg);
  position: absolute;
}
iframe {
  aspect-ratio: 16 / 9;
  width: 100%; /* change this to a fixed width, or create a container with a width. */
  height: 100%;
}

.square {
  position: absolute;
  height: min(60vh, 60vw);
  width: min(60vh, 60vw);
  background-color: white;
  transform-style: preserve-3d;
  animation-name: adjust-clip, upward;
  animation-duration: var(--dur);
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &:nth-child(2) {
    animation-delay: 0 calc(var(--dur) / -3);
  }
  &:nth-child(3) {
    animation-delay: 0 calc(var(--dur) * 2 / -3);
  }
}

.inner {
  position: relative;
  top: 2px;
  left: 2px;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  background-color: tan;
  transform-style: preserve-3d;
  animation: adjust-clip var(--dur) infinite linear;
  z-index: 10000000;
}

.inner::before {
  content: "Loading";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  /* Avoid interaction blocking */
  transform: translate(-50%, -50%) rotateZ(-55deg);
  z-index: 10000000;
}

footer#footer {
  margin-top: 100vh;
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 30px;
}
footer#footer #img2 {
  width: 200px;
  margin-bottom: 30px;
}
footer#footer .footer__text {
  width: 50%;
  font-size: 20px;
  font-family: "Outfit";
  font-weight: 300;
  color: #dcdcdc;
  color: #fdfcfc;
}

body > footer > canvas {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 50%;
  height: 100%;
}

button#menu {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 70px;
  height: 60px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 5;
  /* border: 1px solid red; */
}

#menu_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
  gap: 16px;
  opacity: 0;
}

#menu_container.open {
  display: flex;
}

#menu_container li a {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-weight: 700;
  font-size: 85px;
  letter-spacing: 17px;
}

body.loaded .portfolio-slider,
body.loaded .graphics-slider {
  position: absolute;
  left: calc(50% - 5px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-width: 310px;
  margin: 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.swiper-wrapper {
  position: relative;
  top: 120px;
}

body.loaded .portfolio-slider.visible,
body.loaded .graphics-slider.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Pagination styles */
.swiper-pagination.portfolio-slider-pagination {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 74px;
  margin-top: 130px;
  /* Increased spacing between bullets */
}

.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
  background: transparent;
  /* background-color: #000000; */
  opacity: 1;
  margin: 0 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transition: all 0.3s ease;

  /* // Delay the transition to create a "scatter" effect */
  /* transition-delay: 0.6s;   */
  /* transform: scale(1.2); */
}

.initial-load .portfolio-slider-pagination .swiper-pagination-bullet-active {
  transition: all 0.3s ease;
  transition-delay: 2s;
  background: #fff;
  opacity: 1;
}

/* Touch interaction class */
.touch-active .portfolio-slider-pagination .swiper-pagination-bullet-active {
  background: transparent !important;
  transition: none;
}

.portfolio-slider video,
.graphics-slider video,
.portfolio-slider iframe,
.graphics-slider iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-scrollbar-drag {
  cursor: pointer;
}
.read-more-btn {
  font-size: 16px;
  padding: 4px;
  margin-top: 8px;
  /* border: 1px solid black; */
  text-transform: capitalize;
  width: 100%;
}

@keyframes adjust-clip {
  0% {
    -webkit-clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
    clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
  }

  25% {
    -webkit-clip-path: polygon(
      50% calc(0% - 1px),
      50% calc(0% - 1px),
      calc(100% + 1px) 40%,
      calc(100% + 1px) 40%,
      83% calc(100% + 1px),
      83% calc(100% + 1px),
      17% calc(100% + 1px),
      17% calc(100% + 1px),
      calc(0% - 1px) 40%,
      calc(0% - 1px) 40%
    );
    clip-path: polygon(
      50% calc(0% - 1px),
      50% calc(0% - 1px),
      calc(100% + 1px) 40%,
      calc(100% + 1px) 40%,
      83% calc(100% + 1px),
      83% calc(100% + 1px),
      17% calc(100% + 1px),
      17% calc(100% + 1px),
      calc(0% - 1px) 40%,
      calc(0% - 1px) 40%
    );
  }

  75% {
    -webkit-clip-path: polygon(
      17% calc(0% - 1px),
      83% calc(0% - 1px),
      83% calc(0% - 1px),
      calc(100% + 1px) 60%,
      calc(100% + 1px) 60%,
      50% calc(100% + 1px),
      50% calc(100% + 1px),
      calc(0% - 1px) 60%,
      calc(0% - 1px) 60%,
      17% 0%
    );
    clip-path: polygon(
      17% calc(0% - 1px),
      83% calc(0% - 1px),
      83% calc(0% - 1px),
      calc(100% + 1px) 60%,
      calc(100% + 1px) 60%,
      50% calc(100% + 1px),
      50% calc(100% + 1px),
      calc(0% - 1px) 60%,
      calc(0% - 1px) 60%,
      17% 0%
    );
  }

  100% {
    -webkit-clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
    clip-path: polygon(
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%
    );
  }
}

@keyframes upward {
  0% {
    transform: translate(-50%, -50%) rotateX(60deg) rotateZ(90deg)
      translateZ(max(-40vh, -40vw));
  }

  100% {
    transform: translate(-50%, -50%) rotateX(60deg) rotateZ(90deg)
      translateZ(min(40vh, 40vw));
  }
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.4;
}

/* Contact Form */
body.loaded .contact-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  margin: 0 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

body.loaded .contact-page.visible {
  opacity: 1;
  pointer-events: auto;
  color: transparent;
  z-index: 11;
  display: none;
}

.initial-load .contact-page .form-group .label {
  transition: all 0.3s ease;
  transition-delay: 2s;
  color: transparent;
}

/* Touch interaction class */
.touch-active.contact-page.form-group.label {
  background: transparent !important;
  transition: none;
  color: transparent;
}

.contact-page {
  border-radius: 8px;
  position: relative;
  z-index: 1;
  background: #d0b38b;
}

.contact-page form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 20px 30px;
  border-radius: 10px;
}

.form-group {
  position: relative;
  margin: 25px 0 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-group svg {
  position: relative;
  bottom: 10px;
}

.form-group .input-text {
  display: block;
  height: 36px;
  width: 100%;
  border: transparent;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  color: white;
  padding: 0.8rem;
  transition: all 0.3s ease;
  resize: none;
}

.form-group textarea.input-text {
  height: 100px;
}

.form-group .input-text:focus {
  outline: none;
}

.form-group .label {
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #fff;
  cursor: text;
  transition: all 0.3s ease;
}

.form-group .input-text:focus + .label,
.form-group .input-text:not(:placeholder-shown) + .label {
  transform: translateY(-24px);
  font-size: 14px;
  color: #fff;
}

input,
textarea {
  padding: 0.8rem;
  border: transparent;
  background: transparent;
  border-radius: 4px;
  color: transparent;
  font-size: 18px;
}

.contact-page button {
  padding: 0;
  background: transparent;
  border-radius: 4px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border: none;
  transition: transform 0.2s;
  width: fit-content;
  margin: 4.3rem auto 0;
  /* Increased from 0 auto */
}
.swiper-pagination.portfolio-slider-pagination {
  margin-top: 165px;
  gap: 52px;
  left: -5px;
}
.swiper-wrapper {
  top: 80px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #d2b48c;
  opacity: 0;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
}
.click-icon-for-instagram,
.click-icon-for-substack,
.click-icon-for-codepen {
  /* background-color: red; */
  width: 70px;
  height: 70px;
  z-index: 4;
  /* border: 1px solid black; */
  position: absolute;
  bottom: 28px;
  left: 25px;
  transform: scale(1.1);
}
.click-icon-for-substack {
  left: 125px;
}
.click-icon-for-codepen {
  left: 225px;
}

.contact-page button svg {
  width: 150px;
}

.clip-path-slider-one {
  clip-path: polygon(
    43% 0,
    86% 0,
    100% 35%,
    89% 79%,
    55% 100%,
    5% 92%,
    0 50%,
    15% 18%
  );
}
.clip-path-slider-two {
  clip-path: polygon(
    50% 0,
    92% 14%,
    100% 49%,
    92% 89%,
    55% 100%,
    11% 93%,
    0 53%,
    9% 18%
  );
}
.clip-path-slider-three {
  clip-path: polygon(
    45% 0,
    84% 15%,
    100% 53%,
    89% 87%,
    55% 100%,
    15% 76%,
    0 45%,
    9% 13%
  );
}
.clip-path-slider-four {
  clip-path: polygon(
    56% 0,
    88% 0,
    100% 45%,
    84% 83%,
    55% 100%,
    19% 75%,
    0 45%,
    28% 7%
  );
}

.swiper-pagination.portfolio-slider-pagination {
  margin-top: 105px;
  gap: 52px;
  left: -5px;
}

.swiper-wrapper {
  top: 80px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: #d2b48c;
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 40px;
  height: 40px;
}

.read-more-article-btn {
  font-size: 16px;
  z-index: 9999;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 5px 10px;
  color: #c3a887;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

svg.read-more {
  width: 120px;
  height: 120px;
  color: #c28522;
  color: #b39a7d;
  /* position: absolute;
  right: 10px;
  top: 10px; */

  &:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
  }
}

.textcircle.read-more {
  transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
  transform-origin: 250px 250px;
}

text.read-more {
  font-size: 58px !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  fill: #d2b48c;
  animation: rotate 25s linear infinite;
  transform-origin: 250px 250px;
  font-size: 56px;
}

.substack-logo-svg {
  width: 30px !important;
  height: 30px !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.read-more-box {
  display: flex;
  align-items: center;
  position: absolute;
  top: 60px;
  right: 20px;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */
@media (max-width: 1440px) {
  body.loaded .portfolio-slider,
  body.loaded .graphics-slider {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 63%;
    min-width: 310px;
    margin: 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .swiper-pagination.portfolio-slider-pagination {
    margin-top: 165px;
    gap: 52px;
    left: -5px;
  }

  .swiper-wrapper {
    top: 80px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    background: #d2b48c;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1200px) {
  .swiper-pagination.portfolio-slider-pagination {
    margin-top: 165px;
    gap: 52px;
    left: -5px;
  }

  .swiper-wrapper {
    top: 80px;
  }

  .swiper-pagination-clickable .swiper-pagination-bullet {
    background: #d2b48c;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1024px) {
  body.loaded .portfolio-slider,
  body.loaded .graphics-slider {
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    width: 74%;
    min-width: 310px;
    margin: 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .swiper-pagination.portfolio-slider-pagination {
    margin-left: -22px;
    margin-top: 20px;
    gap: 58px;
    /* Increased spacing between bullets */
  }

  .swiper-pagination-bullet {
    width: 35px;
    height: 35px;
  }

  .swiper-wrapper {
    top: 0;
  }
}

@media (max-width: 992px) {
  footer#footer {
    flex-direction: column;
    padding-top: 160px;
    padding-inline: 15px;
  }

  footer#footer .footer__text {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }

  body > footer > canvas {
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
  }

  button#menu {
    top: 20px;
    right: 32px;
    width: 52px;
    height: 45px;
  }

  #menu_container {
    left: calc(50% - 23px);
    top: calc(50% - 16px);
    gap: 11px;
  }

  #menu_container li a {
    font-size: 75px;
    letter-spacing: 11px;
  }

  body.loaded .portfolio-slider,
  body.loaded .graphics-slider {
    position: absolute;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 80%;
    min-width: 310px;
    margin: 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .swiper-pagination.portfolio-slider-pagination {
    margin-left: -10px;
    margin-top: 25px;
    gap: 65px;
    /* Increased spacing between bullets */
  }

  .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
  }
  .click-icon-for-instagram {
    left: 29px;
  }
  .click-icon-for-substack {
    left: 128px;
  }

  .click-icon-for-instagram,
  .click-icon-for-substack,
  .click-icon-for-codepen {
    bottom: 60px;
  }
  .read-more-box {
    top: 20px;
    right: 20px;
  }
  svg.read-more {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 576px) {
  button#menu {
    top: 80px;
    right: 8px;
    width: 52px;
    height: 45px;
  }

  .read-more-box {
    top: 30px;
    right: 0px;
  }
  svg.read-more {
    width: 70px;
    height: 70px;
  }

  #menu_container {
    left: 50%;
    top: calc(50% + 5px);
  }

  #menu_container li a {
    font-size: 49px;
    letter-spacing: 13px;
  }

  .form-group .label {
    font-size: 17px;
    width: 70px;
  }

  .contact-page button {
    padding: 10px 28px;
    margin: 30px auto 0;
  }

  .contact-page form {
    gap: 0;
  }

  .form-group .input-text {
    padding: 0;
  }
  .substack-logo-svg.read-more {
    height: 20px !important;
    width: 20px !important;
  }

  body.loaded .portfolio-slider,
  body.loaded .graphics-slider {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-width: 310px;
    margin: 0 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .swiper-pagination.portfolio-slider-pagination {
    margin-top: 17px;
    gap: 26px;
  }

  .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
  }

  .click-icon-for-instagram,
  .click-icon-for-substack,
  .click-icon-for-codepen {
    width: 52px;
    height: 52px;
    left: 18px;
  }

  .click-icon-for-instagram {
    bottom: 77px;
  }
  .click-icon-for-substack {
    bottom: 154px;
  }
  .click-icon-for-codepen {
    bottom: 231px;
  }
}

@media (max-width: 480px) {
  body.loaded .portfolio-slider,
  body.loaded .graphics-slider {
    position: absolute;
    left: 50%;
    top: 52%;
  }

  .swiper-pagination.portfolio-slider-pagination {
    margin-left: -2px;
    margin-top: 14px;
    gap: 26px;
    /* Increased spacing between bullets */
  }

  .swiper-pagination-bullet {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 480px) {
  body.loaded .contact-page {
    width: 90%;
  }
}
@media (max-width: 471px) {
  button#menu {
    top: 50px;
    right: 10px;
    width: 52px;
    height: 40px;
  }
  .click-icon-for-instagram,
  .click-icon-for-substack,
  .click-icon-for-codepen {
    left: 15px;
    transform: scale(1.1);
    border: 4px solid transparent;
  }
  .click-icon-for-instagram {
    bottom: 85px;
  }
  .click-icon-for-substack {
    bottom: 160px;
  }
  .click-icon-for-codepen {
    bottom: 231px;
  }
}
@media (max-width: 380px) {
  footer#footer {
    height: 330px;
  }
  .click-icon-for-instagram,
  .click-icon-for-substack,
  .click-icon-for-codepen {
    transform: scaleY(1.24);
  }
  .click-icon-for-instagram {
    bottom: 75px;
  }
  .click-icon-for-substack {
    bottom: 145px;
  }
  .click-icon-for-codepen {
    bottom: 210px;
  }
}
@media (max-width: 350px) {
  footer#footer {
    height: 350px;
  }
}
@media (max-width: 320px) {
  .click-icon-for-instagram,
  .click-icon-for-substack,
  .click-icon-for-codepen {
    transform: scaleY(1.24);
  }
  .click-icon-for-instagram {
    bottom: 75px;
  }
  .click-icon-for-substack {
    bottom: 145px;
  }
  .click-icon-for-codepen {
    bottom: 210px;
  }
}

@media (max-width: 300px) {
  footer#footer {
    height: 350px;
  }
  .click-icon-for-instagram {
    bottom: 60px;
  }
  .click-icon-for-substack {
    bottom: 130px;
  }
  .click-icon-for-codepen {
    bottom: 200px;
  }
}

@media (max-height: 700px) and (max-width: 476px) {
  .click-icon-for-instagram {
    bottom: 80px;
    transform: scaleX(1.1) translateX(5px);
  }
  .click-icon-for-substack {
    bottom: 155px;
    transform: scaleX(1.1) translateX(5px);
  }
  .click-icon-for-codepen {
    bottom: 230px;
    transform: scaleX(1.1) translateX(5px);
  }
}

#edge-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #c3a887;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  z-index: 1000;
}

.codepen-badge {
  position: absolute;
  z-index: 100090;
  transform: translateY(-50%);
  top: 30%;
  right: 0;
  text-decoration: none;
}

.codepen-logo-svg {
  width: 20px;
  height: 20px;
}
.codepen-layout {
  background: #c3a786;
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
  writing-mode: vertical-rl;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.codepen-text {
  transform: rotate(180deg);
  font-size: 12px;
}
.codepen-logo-svg {
  display: block !important; /* or inline-block */
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  .codepen-badge {
    position: absolute;
    z-index: 100090;
    top: 20%;
    right: 0;
    text-decoration: none;
  }
  .codepen-badge {
    bottom: 10px;
    right: 10px;
    transform: none;
  }

  .codepen-text {
    transform: rotate(180deg);
    font-size: 10px;
  }

  .codepen-logo-svg {
    width: 16px;
    height: 16px;
  }
}

.linkedin {
  z-index: 100000000;
}
